#bloc-signup.bloc.l-bloc
  .container.bloc-md
    .page-header
      %h2 회원 가입

    .row
      .col-md-6
        = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          = devise_error_messages!
          .form-group
            = f.label :email, '이메일'
            = f.email_field :email, autofocus: true, required: true, class: 'form-control'
          .form-group
            = f.label :name, '이름'
            = f.text_field :name, required: true, class: 'form-control'
          .form-group
            = f.label :password, '비밀번호'
            - if @validatable
              %em
                (#{@minimum_password_length} characters minimum)
            = f.password_field :password, autocomplete: "off", class: 'form-control'
          .form-group
            = f.label :password_confirmation, '비밀번호 확인'
            = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'
          .form-group
            = f.submit "회원 가입", class: 'btn btn-primary btn-lg'
            .pull-right
              = link_to new_session_path(resource_name) do
                %i.fa.fa-sign-in
                로그인
              - if devise_mapping.recoverable?
                = link_to new_password_path(resource_name) do
                  %i.fa.fa-lock
                  비밀번호찾기
      .col-md-6
        = render "devise/shared/links"