/ bloc-3 END
/ Footer - bloc-4
#bloc-4.bloc.l-bloc
  .container.bloc-sm
  - @things.in_groups_of(4, false).each_with_index do |row|
    .row
      - row.each do |thing|
        .col-sm-3
          = link_to image_tag(asset_path('placeholder-image.png'), class: 'img-responsive'), thing_path(thing)
          %h3.mg-md= link_to(thing.title, thing_path(thing))
          %h4.mg-md= thing.subtitle
          %p= thing.content.html_safe
          // "group: #{index}; thing: #{thing}"

    .row
      .col-sm-3
        = image_tag asset_path('placeholder-image.png'), class: 'img-responsive'
        %h3.mg-md
          Title goes here
        %p
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
      .col-sm-3
        = image_tag 'placeholder-image.png', class: 'img-responsive'
        %h3.mg-md
          Title goes here
        %p
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
      .col-sm-3
        = image_tag 'placeholder-image.png', class: 'img-responsive'
        %h3.mg-md
          Title goes here
        %p
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
      .col-sm-3
        = image_tag 'placeholder-image.png', class: 'img-responsive'
        %h3.mg-md
          Title goes here
        %p
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.