.container
  #thing_info.row
    .col-md-12
      %h1= @thing.title
      %p= @thing.subtitle
      %div= @thing.content.html_safe
      %p
        by 
        = @thing.user.name
  .row
    .col-md-12
      = link_to "home", root_path, class: "btn btn-default"
      = link_to "list", things_path, class: "btn btn-default"
      - if user_signed_in?
        = link_to "edit", edit_thing_path(@thing), class: "btn btn-default"
        = link_to "delete", thing_path(@thing), method: :delete, data: { confirm: "sure?" }, class: "btn btn-default"