#thing-show.bloc.l-bloc
  .container.bloc-sm
    .page-header
      %h2
        = @thing.title
        %small= @thing.user.name
        - if user_signed_in? && @thing.user == current_user
          .pull-right
            = link_to "edit", edit_thing_path, class: "btn btn-d"
            = link_to "delete", thing_path, method: :delete, data: { confirm: "sure?" }, class: "btn btn-d"

    .thing-show__content= @thing.content.html_safe

    %hr
    .comments
      = render @thing.comments