#thing-show.bloc.l-bloc
  .container.bloc-md
    .page-header
      %h2
        = @thing.title
        %small= @thing.user.name
        - if user_signed_in? && @thing.user == current_user
          .pull-right
            = link_to "수정", edit_thing_path, class: "btn btn-d"
            = link_to "삭제", thing_path, method: :delete, data: { confirm: "sure?" }, class: "btn btn-d"

    .thing-show__content= @thing.content.html_safe

    .thing-show__deeds.text-center
      %ul.list-inline
        - @thing.deeds.each do |deed|
          %li
            = deed.user.name
      - if user_signed_in?
        - deed = @thing.deeds.where(user: current_user).first
        - if deed.present?
          = "#{current_user.name}님은 참여를 약속한 #{@thing.deeds.count}분 중에 한 분입니다"
        - else
          = link_to '함께 하겠습니다', new_deed_thing_path(@thing), method: :post, class: 'btn btn-xl btn-d'

    .comments
      = render @thing.comments