!!! 5

%head
  %title= "1 Thing!"
  %link{ rel: "shortcut icon", type: "image/png", href: "favicon.png" }
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags

%body
  = yield
