!!! 5

%head
  %meta{:charset => "utf-8"}
  %meta{:content => "1thing, 원씽, 제안, 세월호, 416", :name => "keywords"}
  %meta{:content => "1thing.kr은 커다란 사고를 당한 이들에게 작은 힘이라도 보태고 싶지만, 어떻게 시작할지 몰라 막막했던 마음을 그대로 담아서 만들었습니다. 일상에 좇기는 우리를 무기력으로 몰아넣은 사건이지만. 누군가가 먼저 작은 제안을 하고, 그 제안에 여러 사람들의 반응이 하나하나 쌓이면 더 큰 변화도 일어나지 않을까요. 1thing.kr은 그런 욕심을 품어봅니다.", :name => "description"}
  = yield :meta_tags_for_share

  %link{ rel: "shortcut icon", type: "image/png", href: asset_path("favicon.png") }
  = stylesheet_link_tag    'application', media: 'all'
  = javascript_include_tag 'application'
  = csrf_meta_tags

  %title
    = "1thing.kr"
    = content_for?(:page_title) ? ' : ' + yield(:page_title) : ''
%body

  .page-container
    = render partial: "shared/flash_messages", flash: flash
    - if current_page? root_path
      = render 'home_header'
    - else
      = render 'header'

    = yield
    = render 'footer'

  #fb-root
    :javascript
      (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.3";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));


  :javascript
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-61564222-1', 'auto');
    ga('send', 'pageview');